main {
    padding: 0 var(--sidePadding);
    margin: auto;
}

.about {
    opacity: 0;
    transform: translateY(5rem);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: var(--jetBrains);
    margin-bottom: 3rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.title:after {
    content: "";
    display: block;
    margin: auto 0;
    width: 25vw;
    max-width: 800px;
    height: 1px;
    background-color: var(--tertiary);
}

.title h2 {
    display: flex;
    margin: 0 1rem 0 1rem;
    color: #fff;
    white-space: nowrap;
}

.title span {
    font-weight: 700;
    font-style: italic;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    color: var(--whitelight)
}

.card h3 {
    color: var(--secondary);
    font-size: 1.4rem;
    font-weight: 600;
}

.card p {
    line-height: 1.5;
    letter-spacing: .3px;
}

#about_card {
    text-align: left;
}

#about_foto {
    background-color: var(--secondary);
    border-radius: 10px;
    height: 250px;
    position: relative;
    width: 250px;
}

#about_foto img {
    background-color: var(--secondary-50);
    border-radius: 10px;
    border: 2px solid var(--secondary-50);
    height: 100%;
    transform: rotate(10deg);
    transition: all .3s;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

#about_foto img:hover {
    transform: rotate(0deg);
}