header {
    height: 80%;
    min-height: 350px;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

header h1,
header h2 {
    font-size: clamp(1.5rem, 3.7vw, 4.5rem);
    color: var(--whitelight);
    line-height: 1.1;
    text-shadow: 2px 2px 10px #000b;
}

header h1 {
    font-size: clamp(2.5rem, 3.7vw, 5.5rem);
    line-height: 3rem;
}

header h2 {
    color: var(--whitelight);
    font-family: Heebo, sans-serif;
    font-size: clamp(1.7rem, 3.5vw, 4.5rem);

    line-height: 1.1;
    text-shadow: 2px 2px 10px #000b;
}



#about_titles {
    min-height: 80vh;
    margin: auto;
    text-align: left;
}

.header-btns {
    color: var(--whitelight);
}

.avatar {
    align-items: center;
    bottom: 10px;
    display: flex;
    height: calc(12vw + 25vh);
    justify-content: center;
    max-height: 500px;
    max-width: 500px;
    position: absolute;
    right: 25px;
    width: calc(12vw + 25vh);

    /* height: 6em;
    padding: 1.5em;
    will-change: filter; */
}

.avatar img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.avatar.react img:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

header .avatar>img {
    width: 350px;
    transition: all 1s;
}

@media (max-width:320px) {

    header .avatar>img {
        transform: scale(0.80);
    }
}

@media (min-width:320px) {

    header .avatar>img {
        transform: scale(0.85);
    }
}

@media (min-width:481px) {

    header .avatar>img {
        transform: scale(0.90);

    }
}

@media (min-width:641px) {

    header .avatar>img {
        transform: scale(0.95);
    }
}