header {
    height: 80%;
    min-height: 350px;
    justify-content: center;
    align-items: flex-start;
}

header .grid {
    min-width: 70vw;
}

#header_titles_div {
    min-width: 70vw;
}

@media (max-width:720px) {
    header .grid {
        min-width: 95vw;
    }

    #header_titles_div {
        min-width: 95vw;
    }
}

header h1,
header h2 {
    font-size: clamp(1.5rem, 3.7vw, 4.5rem);
    color: var(--whitelight);
    line-height: 1.2;
    text-shadow: 2px 2px 10px #000b;
    width: 95vw;
}

header h1 {
    font-size: clamp(2.5rem, 3.7vw, 5.5rem);
    line-height: 3rem;
}

header h2 {
    color: var(--whitelight);
    font-family: Heebo, sans-serif;
    font-size: clamp(1.7rem, 3.5vw, 4.5rem);

    line-height: 1.1;
    text-shadow: 2px 2px 10px #000b;
}

.header-btns {
    color: var(--whitelight);
}

@media screen and (max-width: 520px) {
    header h1 {
        height: 104px;
    }
}

@media screen and (max-width: 303px) {
    header h1 {
        height: 144px;
    }
}

@media screen and (min-width: 2049px) {
    #logo__div {
        padding-right: 11rem;
    }
}

@media screen and (min-width: 3049px) {
    #logo__div {
        padding-right: 45rem;
    }
}


@media (max-height: 600px) {
    #header_titles_div {
        gap: 1rem;
        padding-top:10px;
    }
    #header_joiner_div{
        gap: 0px;
    }
}

@media (max-height: 800px) {
    #header_titles_div {
        gap: 2rem;
        padding-top:15px;
    }
    #header_joiner_div{
        gap: 1rem
    }
}

@media (max-height: 980px) {
    #header_titles_div {
        gap: 2.5rem;
        padding-top:20px;
    }
}

@media (min-height: 981px) {
    #header_titles_div {
        gap: 3rem;
    }
}

@media (min-height: 1200px) {
    #header_titles_div {
        gap: 5rem;
    }
}