#avatar {
    transition: all 1s;
}


#avatar:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (max-width:1250px) {

    #avatar {
        width: 210px;
    }
}

@media (max-width:920px) {

    #avatar {
        width: 200px;
    }
}

@media (max-width:720px) {
    #avatar {
        width: 190px;
    }
}

@media (max-width:481px) {

    #avatar {
        width: 180px;
    }
}