#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  color: var(--whitelight);
  min-height: 100vh;

  /* background-image: url('./assets/background4.jpg'); */
  background-image: linear-gradient(to left bottom, #6f2c4d, #612d55, #502f59, #3d315b, #293259, #203054, #172e4f, #0e2b49, #112742, #12223b, #121e34, #121a2d);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  color: var(--tertiary);
  font-family: var(--poppins);
  font-size: 1rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 0 var(--sidePadding);
  width: 100%;
  max-width: 1480px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.header-bg {
  background-image: url('./assets/background.jpg');
  background-size: 100% 100%;
  background-position: fixed;

  /* background: #232526; */
}