#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  color: var(--whitelight);
  min-height: 600px;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;

  min-height: 100%;
}

body {
  color: var(--tertiary);
  font-family: var(--poppins);
  font-size: 1rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  min-height: 100%;

  /* background-image: url('./assets/background4.jpg'); */
  background-image: linear-gradient(to left bottom,
      #6f2c4d,
      #612d55,
      #502f59,
      #3d315b,
      #293259,
      #203054,
      #172e4f,
      #0e2b49,
      #112742,
      #12223b,
      #121e34,
      #121a2d);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-x;
    background-size: auto 100%;
  background-attachment: fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  /* background-size: cover; */
}

main,
header {
  padding: 0 var(--sidePadding);
  width: 100%;
  max-width: 1480px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.header-bg {
  background-image: url("./assets/background.jpg");
  background-size: 100% 100%;
  background-position: fixed;

  /* background: #232526; */
}