@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #222831;
  --secondary: #169df7;
  --secondary-50: #1d9bf044;
  --tertiary: #9ca3af;
  --tertiary-2: #ced4db;
  --whitelight: #eee;

  --poppins: 'Poppins', sans-serif;
  --jetBrains: 'JetBrains Mono', monospace;

  --sidePadding: 150px;
  --headerHeight: 100vh;

  --scrollbarBG: #1c1c1c;
  --thumbBG: #9ca3af88;
}

body {
  font-family: var(--poppins);
  user-select: none;
}

.primary {
  color: var(--primary)
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.jetBrains {
  font-family: var(--jetBrains);
}


.showOn {
  animation: show-section 2s forwards;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: show-section;
}

/* ----------------------- MEDIAS ------------------------- */

@media screen and (max-width: 1092px) {
  :root {
    --sidePadding: 100px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --sidePadding: 75px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --sidePadding: 50px;
  }
}

@media screen and (max-width: 540px) {
  :root {
    --sidePadding: 25px;
  }
}

/* SCROLL BAR */

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {

  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* ---------------- KEYFRAMES ------------------- */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-section {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}