@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #222831;
  --secondary: #169df7;
  --secondary-50: #1d9bf044;
  --tertiary: #9ca3af;
  --tertiary-2: #ced4db;
  --whitelight: #eee;

  --poppins: 'Poppins', sans-serif;
  --jetBrains: 'JetBrains Mono', monospace;

  --sidePadding: 150px;
  --headerHeight: 100vh;

  --scrollbarBG: #1c1c1c;
  --thumbBG: #9ca3af88;
}

body { 
  font-family: var(--poppins);
  user-select: none;
}

.primary {
  color: var(--primary)
}

.secondary {
  color: var(--secondary);
}

.tertiary{
  color: var(--tertiary);
}

.jetBrains {
  font-family: var(--jetBrains);
}